@use './queries.scss' as *;
@use './colors.scss' as *;
@use './type.scss' as *;
@import "./theme.scss";
@import "./common.scss";

.section {
  display: flex;
  flex-direction: row;

  h3 {
    margin: 20px 0;
  }

  @include mid-break {
    gap: 60px;
  }
}


